main > .section > div.featured-wrapper {
  position: relative;
  max-width: 100vw;
  height: 32vw; /* match -top in .content */
  max-height: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden;

  .featured {
    height: inherit;

    picture {
      width: 100%;
      height: 100%;
    }

    img {
      width: inherit;
      height: inherit;
      display: block;
      object-fit: cover;
    }

    .content {
      position: relative;
      max-width: var(--page-width);
      height: inherit;
      margin: -32vw auto 0; /* match height in wrapper */
      color: #fff;
      text-shadow: 2px 2px 8px rgb(0 0 0 / 60%);
      box-shadow: 0 0 200px #000;

      > div {
        position: absolute;
        inset: 7vw auto auto 40px;
        text-align: left;
        width: 450px;
        text-shadow: 4px 4px 6px rgb(0 0 0 / 90%);
        opacity: 0;
        filter: blur(20px);
        scale: 100%;
        transition: all 1s;
        margin-left: -120px;

        .featured.loaded & {
          opacity: 1;
          filter: blur(0);
          scale: 100%;
          margin-left: 0;
        }

        h2 {
          font-size: var(--heading-font-size-xl);
          font-weight: 600;
        }

        p {
          font-weight: 300;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
}
