/* stylelint-disable declaration-block-single-line-max-declarations, no-descending-specificity, rule-empty-line-before, color-function-notation */
main > .section > div.roadmap-wrapper {
  --background: #232323;
  --lines: #616161;
  --index: 0;
  --blue-rgb: 48, 135, 230; /* blue: # */
  --blue: rgb(var(--blue-rgb));
  --pink-rgb: 228, 57, 179; /* #e439b3 */
  --pink: rgb(var(--pink-rgb));
  --teal-rgb: 66, 213, 225; /* #42d5e1 */
  --teal: rgb(var(--teal-rgb));
  --yellow-rgb: 255, 206, 46;  /* #ffce2e */
  --yellow: rgb(var(--yellow-rgb));
  --purple-rgb: 99, 73, 224;  /* #6349e0 */
  --purple: rgb(var(--purple-rgb));

  box-shadow:
    inset 0 0 40px rgba(0, 0, 0, 20%);  /* Top shadow */


  position: relative;
  max-width: 100dvw;
  margin: 0;
  padding: 0;
  background: var(--background);
  color: #fff;
  overflow-x: hidden; /* fix minor overflow issue */
  display: flex;
  flex-direction: column;
  align-items: center;


  .roadmap {
    width: min(100%, 2000px);

    .heading {
      padding: 30px 0 20px;
      color: #fff;
      font-size: var(--heading-font-size-xl);
      font-weight: bold;
      text-align: center;
      span { font-weight: 300; opacity: .6 }
    }

    .disclaimer {
      color: #fff;
      font-size: var(--body-font-size-xs);
      font-weight: 300;
      text-align: center;
      padding: 0 0 20px;
    }

    .timeline {
      position: relative;
      user-select: none;

      ul { /* all list items */
        list-style: none;
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
      }

      ul.years { /* scrollable container */
        min-height: 780px;
        overflow: hidden; /* use auto for testing animations */
        line-height: 40px; /* match '> div' margin-top  */

        /* text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4); */
        li.y {
          font-size: var(--heading-font-size-m);
          font-weight: 400;
          height: 40px;

          > div {
            margin-top: -40px; /* match ul.years line-height */
          }

          /* sticky year */
          &.fixed > div {
            margin-top: 0; /* adjust for line-height */
            position: absolute;
            top: 0;
            left: calc(50% - 50px);
            background: var(--background);
          }

        }

        ul.quarters {
          line-height: normal;
          height: 40px;
          font-size: var(--heading-font-size-s);
          font-weight: normal;



          li.q {
            padding: 10px 0 0 10px;
            width: 700px;
            color: var(--background);
            text-shadow: none;
            font-weight: 600;
            border-right: 3px solid #000;

            @media (width <= 1400px) {
              width: 540px;
            }

            ul.projects {
              flex-direction: column;
              margin-top: 6px;
              font-size: var(--body-font-size-m);

              li.p {
                position: relative;
                margin: 0 0 0 6px;
                cursor: pointer;
                opacity: 0;
                filter: blur(40px);
                padding-left: 80px;
                transition: all 340ms ease-out;

                /* var(--index) is set in object style and used to calc delay */
                transition-delay: calc(var(--index) * 120ms);

                /* fade-in */
                li.q.on & {
                  padding-left: 0;
                  filter: blur(0);
                  opacity: 1
                }

                /* project item */
                > div {
                  padding: 10px 100px 10px 14px;
                  margin: 0;
                  color: #d1d1d1;
                  font-weight: 500;
                  letter-spacing: .017em; /* match bold font */
                  transition: color .5s, background .5s;

                  li.p:first-child & { padding-top: 30px } /* adjust top */
                  .btn { color: #fff }
                }

                /* dots */
                &::before {
                  position: absolute;
                  content: '';
                  width: 10px;
                  height: 10px;
                  background: var(--background);
                  box-shadow: inset -34px 0 10px 4px var(--background);
                  border-radius: 50%;
                  left: -6.5px;
                  top: 15.5px;
                  scale: 1;
                  transition: all .5s;
                }

                &:first-child::before { top: 34px } /* adjust top */

                /* .p hover */
                &:hover, &.active {
                  /* other colors maintained in colors section */
                  > div {
                    color: #fff;
                    font-weight: 600;
                    letter-spacing: 0;
                  }

                  /* dots */
                  &::before { scale: 1.2 }
                }

                .tooltip {
                  max-height: 0;
                  overflow: hidden;
                  transition: all 1s ease-in-out;
                  font-weight: 300 !important;
                  letter-spacing: 0;

                  > div { padding: 20px 20px 10px }

                  li.p.active & {
                    font-weight: normal;
                    max-height: 999px;
                  }
                }
              }
            }
          }
        }
      }

      /* left/right slide bars */
      .left, .right {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: max(80px, calc((100vw - var(--page-width)) / 2));
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9;
        background: linear-gradient(to right, var(--background), transparent);

        /* if screen is wider than 2000px */
        @media (width >= 2000px) {
          width: 15%;
        }

        &.disabled > div {
          display: none;

        }

        /* circle buttons */
        > div {
          width: 50px;
          height: 50px;

          /* border: 1px solid #fff; */
          border-radius: 50%;
          position: absolute;
          top: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: .8;
          background: var(--background);
          box-shadow: 0 0 10px 2px rgb(0 0 0 / 0%);
          scale: 100%;
          transition: all 120ms ease-in-out;

          .left & { left: 30% }
          .right & { right: 30% }
          .left:hover & { left: 24%; }
          .right:hover & { right: 24%; }

          .left:hover &, .right:hover & {
            scale: 130%;
            opacity: 1;
            box-shadow: 0 0 14px 2px #fff;
            }

          /* arrow */
          &::before {
            content: '';
            height: 14px;
            width: 14px;
            border-left: 2px solid #fff;
            border-bottom: 2px solid #fff;
            position: absolute;
            top: 35%;
            transition: all 12ms;
          }
          .left &::before {
            left: 40%;
            transform: rotate(45deg);
          }
          .right &::before {
            right: 40%;
            transform: rotate(-135deg);
          }
        }
      }
      .right {
        left: unset;
        right: 0;
        background: linear-gradient(to left, var(--background), transparent);
      }


      /* rename colors to generic '--clr' and map to .clr class */
      .clr-0 { --clr: var(--pink); --clr-rgb: var(--pink-rgb) }
      .clr-1 { --clr: var(--blue); --clr-rgb: var(--blue-rgb) }
      .clr-2 { --clr: var(--teal); --clr-rgb: var(--teal-rgb) }
      .clr-3 { --clr: var(--purple); --clr-rgb: var(--purple-rgb) }
      .clr-4 { --clr: var(--yellow); --clr-rgb: var(--yellow-rgb) }

      /* apply colors */
      .clr-0, .clr-1, .clr-2, .clr-3, .clr-4 {
        color: var(--clr);
        li.q { background: var(--clr)}
        li.p {
          border-left: 1px solid var(--clr);
          &::before { border: 1px solid var(--clr) }
          &:hover, &.active {
            /* dots */
            &::before {
              background: var(--clr) !important;
              box-shadow: 0 0 10px 2px var(--clr) !important;
              border: 1px solid var(--clr) !important;
              filter: brightness(1.1);
            }
          }
          &:hover > div { background: linear-gradient(to right, rgba(var(--clr-rgb), .1), var(--background)); }
          &.active > div { background: linear-gradient(to right, rgba(var(--clr-rgb), .4), var(--background)); }
          .btn:hover {
            background: transparent;
            box-shadow: 0 0 10px 4px rgba(var(--clr-rgb), .6);
            filter: brightness(1.1);
          }
        }
      }
    }
  }
}


