footer {
  background: var(--dark-gray);

  > div {
    position: relative;
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 60px 40px 40px;
    text-align: right;
    color: #fff;
    font-weight: 300;
    font-size: var(--body-font-size-xs);
    line-height: 1.4em;
    opacity: .9;

    strong {
      display: inline-block;
      text-align: left;
      font-weight: 300;
      width: 50%;
      margin-bottom: 20px;
    }
  }
}


/* todo: update mobile styles and remove this modal */
.hackathon-overlay, .hackathon-modal { display: none}

@media (width <= 1000px) {
  .hackathon-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 90%);
    z-index: 999;
  }

  .hackathon-modal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #616161;
    color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
    z-index: 1000;
  }

}
